<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
          PUBLIC "-//mybatis.org/DTD Config 3.0//EN" 
          "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	 <settings>
	 	<setting name="jdbcTypeForNull" value="NULL"/>
	 	<setting name="logImpl" value="LOG4J2"/>
	 </settings>
	 
	<typeAliases>
	 	<typeAlias type="com.start.backend.information.vo.Information" alias="Information" />
	 	<typeAlias type="com.start.backend.grade.vo.Grade" alias="Grade" />
	 	<typeAlias type="com.start.backend.detail.vo.Detail" alias="Detail" />
	 	<typeAlias type="com.start.backend.transactionSample.vo.Sample" alias="Sample" />
	 	<typeAlias type="com.start.backend.user.vo.User" alias="User" />
	 	<typeAlias type="com.start.backend.searchMap.vo.SMapCenter" alias="SMapCenter" />
	 	<typeAlias type="com.start.backend.searchMap.vo.SMapChildcareEval" alias="SMapChildcareEval" />
	 	<typeAlias type="com.start.backend.searchMap.vo.SMapChildcareViolation" alias="SMapChildcareViolation" />
	 	<typeAlias type="com.start.backend.searchMap.vo.SMapKidsdataDetail" alias="SMapKidsdataDetail" />
	 	<typeAlias type="com.start.backend.searchMap.vo.SMapSidocode" alias="SMapSidocode" />
	 	<typeAlias type="com.start.backend.favorite.vo.Favorite" alias="Favorite" />
	</typeAliases>
</configuration>
