<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="User">

	<resultMap id="userResultSet" type="user">
		<result property="userNo" column="USER_NO_PK" />
		<result property="userId" column="USER_ID" />
		<result property="userPw" column="USER_PW" />
		<result property="userName" column="USER_NAME" />
		<result property="nickname" column="NICKNAME" />
		<result property="zonecode" column="ZONECODE" />
		<result property="roadAddress" column="ROADADDRESS" />
		<result property="detailAddress" column="DETAILADDRESS" />
		<result property="phone" column="PHONE" />
		<result property="status" column="STATUS" />
		<result property="adminYn" column="ADMIN_YN" />
	</resultMap>
	
	<select id="getKakaoUser" parameterType="String" resultMap="userResultSet">
		SELECT *
		FROM user_tb
		WHERE USER_ID = #{userId}
	</select>

	<insert id="insertUser" parameterType="User">
		INSERT INTO user_tb (user_id, user_pw, user_name, nickname, phone, ZONECODE, ROADADDRESS, DETAILADDRESS)
		VALUES (#{userId}, #{userPw}, #{userName}, #{nickname}, #{phone}, #{zonecode}, #{roadAddress}, #{detailAddress})
	</insert>
	
	<select id="selectLoginUser" parameterType="User" resultMap="userResultSet">
		SELECT *
		FROM user_tb
		WHERE USER_ID = #{userId} and USER_PW = #{userPw} and STATUS = 'Y'
	</select>
	
	
	<select id="checkUserId" parameterType="String" resultType="int" >
		SELECT COUNT(*)
		FROM user_tb
		WHERE USER_ID = #{userId}
	</select>
	
	<select id="selectUserList" parameterType="User" resultMap="userResultSet">
		SELECT *
		FROM user_tb
	</select>
	
	<update id="deleteUser" parameterType="String">
		UPDATE user_tb
		SET status = 'N'
		WHERE USER_ID = #{userId}
	</update>
	
	<select id="getUserListByKeyword" parameterType="String" resultMap="userResultSet">
		SELECT *
		FROM user_tb
		WHERE USER_ID LIKE CONCAT('%', #{keyword}, '%')
	</select>
	


	<select id="addUser" parameterType="String" resultType="User">
		SELECT *
		FROM user
		WHERE userId = #{userId}
	</select>

	<select id="getUser" parameterType="String" resultType="User">
		SELECT *
		FROM user
		WHERE userId = #{userId}
	</select>

<!-- 	<insert id="insertUser" parameterType="User">
		INSERT INTO user (userId,
		userPw, userName, nickName,
		phone)
		VALUES (#{userId}, #{userPw},
		#{userName}, #{nickName},
		#{phone})
	</insert> -->

	<update id="updateUser" parameterType="User">
		UPDATE user
		SET userPw =
		#{userPw},
		userName =
		#{userName},
		nickName = #{nickName},
		phone =
		#{phone},
		profileImage =
		#{profileImage}
		WHERE userId = #{userId} AND
		deleteDate IS NULL;
	</update>

	<!-- <delete id="deleteUser" parameterType="User">
		DELETE FROM Preference WHERE userId = #{userId}
	</delete> -->




</mapper>